#set($layout = "/layout/manageLayout.vm")

<ol class="breadcrumb">
    <li><a href="/monitor/user/manage">系统管理</a></li>
    <li>用户管理</li>
</ol>
<form class="form-inline" style="margin-bottom: 20px;">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入用户名查询">
            <div class="btn input-group-addon glyphicon glyphicon-search"></div>
        </div>
    </div>
    <button data-toggle="modal" data-target="#addUserModal" type="button" class="btn btn-primary"
            style="margin-left: 20px;">
        添加用户
    </button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>手机号</th>
            <th style="text-align:center">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($user in $!{pager.dataList})
            <tr>
                <td>$!{user.username}</td>
                <td>$!{user.name}</td>
                <td>$!{user.email}</td>
                <td>$!{user.phone}</td>
                <td style="text-align:center">
                    <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#resetUserPasswordConfirm"
                            onclick="resetUserPassword(${user.id})">重置密码
                    </button>
                    <button class="btn btn-primary btn-xs" onclick="updateUser(${user.id})">修改</button>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteUserConfirm"
                            onclick="deleteUser(${user.id})">删除
                    </button>
                </td>
            </tr>
            #end
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li #if($pager.currentPage == 1) class="disabled" #end>
                <a #if($pager.currentPage == 1)href="javascript:void(0);"#else
                   href="/monitor/manage/users?currentPage=$math.sub(${pager.currentPage}, 1)" #end
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            #foreach($count in [1..${pager.pageCount}])
                <li><a href="/monitor/manage/users?currentPage=${count}">$count</a></li>
            #end
            <li #if($pager.currentPage == $pager.pageCount) class="disabled" #end>
                <a #if($pager.currentPage == $pager.pageCount)href="javascript:void(0);"#else
                   href="/monitor/manage/users?currentPage=$math.add(${pager.currentPage}, 1)" #end
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- 删除确认对话框 -->
<div class="modal fade" id="deleteUserConfirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">确认对话框</h4>
            </div>
            <div class="modal-body">您确定要删除该用户吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                <a id="deleteUserHref" href="#" class="btn btn-danger btn-xs">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 重置用户密码确认对话框 -->
<div class="modal fade" id="resetUserPasswordConfirm" tabindex="-1" role="dialog"
     aria-labelledby="resetUserPasswordModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resetUserPasswordModalLabel">确认对话框</h4>
            </div>
            <div class="modal-body">您确定要重置该用户的密码吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                <a id="resetUserPasswordHref" href="#" class="btn btn-danger btn-xs">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 重置结果 -->
<div class="modal fade" id="resetUserPasswordResult" tabindex="-1" role="dialog"
     aria-labelledby="resetUserPasswordResultModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resetUserPasswordResultModalLabel">信息</h4>
            </div>
            <div class="modal-body" id="resetResult"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加用户弹窗 -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addUserModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addUserForm" method="post" action="/monitor/manage/users/add">
                    <div class="form-group">
                        <label for="addUsername" class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addUsername" name="username" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addName" class="col-sm-3 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addName" name="name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addEmail" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addEmail" name="email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addPhone" class="col-sm-3 control-label">手机号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addPhone" name="phone"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addUserSubmit">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 更新用户信息 -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateUserModalLabel">修改用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="updateUserForm" method="post"
                      action="/monitor/manage/users/update">
                    <input type="hidden" name="id" value="" id="updateUserId"/>
                    <div class="form-group">
                        <label for="updateUserName" class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input type="text" disabled="disabled" class="form-control" id="updateUserName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateName" class="col-sm-3 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="updateName" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateEmail" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="updateEmail" name="email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updatePhone" class="col-sm-3 control-label">手机号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="updatePhone" name="phone"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="updateUserSubmit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#addUserSubmit").click(function () {
            $("#addUserForm").submit();
        });


        $("#updateUserSubmit").click(function () {
            $("#updateUserForm").submit();
        });

        $("#resetUserPasswordHref").click(function () {
            $("#resetUserPasswordConfirm").modal('hide')
            var href = $(this).prop("href");

            $.get(href, function (flag) {
                if (flag) {
                    $("#resetResult").text("重置成功");
                } else {
                    $("#resetResult").text("重置失败");
                }
            })
            $("#resetUserPasswordResult").modal();

            return false;
        });
    });

    function deleteUser(id) {
        var href = "/monitor/manage/users/delete/" + id;
        $("#deleteUserHref").prop("href", href);
    }

    function updateUser(id) {
        $.get("/monitor/manage/users/update/" + id, function (user) {
            $("#updateUserId").val(user.id)
            $("#updateUserName").val(user.username)
            $("#updateName").val(user.name)
            $("#updateEmail").val(user.email)
            $("#updatePhone").val(user.phone)

            $("#updateUserModal").modal();
        })
    }

    function resetUserPassword(id) {
        var href = "/monitor/manage/users/resetPassword/" + id;
        $("#resetUserPasswordHref").prop("href", href);
    }
</script>