<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.min.js" type="text/javascript"></script>

    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    #include("/layout/nav.vm")
    <div class=".table-responsive">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/monitor/method/invoke/monitor-view/online">JavaMethod</a></li>
                    <li role="presentation"><a href="/monitor/tomcat/tomcatThread/monitor-view/online">Tomcat</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">JVM <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/monitor/jvm/thread/monitor-view/online">Thread</a></li>
                            <li><a href="/monitor/jvm/gc/monitor-view/online">GC</a></li>
                            <li><a href="/monitor/jvm/cpu/monitor-view/online">CPU</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/monitor/jvm/memoryPool/monitor-view/online">MemoryPool</a></li>
                            <li><a href="/monitor/jvm/memory/monitor-view/online">Memory</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/monitor/jvm/classLoading/monitor-view/online">ClassLoading</a></li>
                            <li><a href="/monitor/jvm/compile/monitor-view/online">Compile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                $screen_content
            </div>
        </div>
    </div>
</div>
</body>
</html>