<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">应用监控 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a href="#">监控系统</a>
                            <ul class="dropdown-menu no-bottom-space">
                                <li class="dropdown-submenu">
                                    <a href="#">Monitor-View</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/main">online</a></li>
                                        <li><a href="#">test</a></li>
                                        <li><a href="#">pre</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Monitor-Datahub</a>
                                    <ul class="dropdown-menu no-bottom-space">
                                        <li><a href="#">online</a></li>
                                        <li><a href="#">test</a></li>
                                        <li><a href="#">pre</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">青龙系统</a></li>
                        <li><a href="#">天网系统</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">监控管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/monitor/product/manage">产品管理</a></li>
                        <li><a href="#">基础监控管理</a></li>
                        <li><a href="#">报警发送模板</a></li>
                        <li><a href="#">报警联系人组</a></li>
                        <li><a href="#">我的报警</a></li>
                        <li><a href="#">监控配置</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/monitor/user/manage">用户管理</a></li>
                        <li><a href="/monitor/user/manage">权限管理</a></li>
                    </ul>
                </li>
                <li><a href="#">帮助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入集群、主机名">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的资料</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </li>
                <li><a href="/loginOut">安全退出</a></li>
            </ul>
        </div>
    </div>
</nav>