#set($layout = "/layout/manageLayout.vm")

<ol class="breadcrumb">
    <li>监控管理</li>
    <li>产品管理</li>
</ol>
<form class="form-inline" style="margin-bottom: 20px;">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入产品名称查询">
            <div class="btn input-group-addon glyphicon glyphicon-search"></div>
        </div>
    </div>
    <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary" style="margin-left: 20px;">
        添加产品
    </button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>产品名称</th>
            <th>产品负责人</th>
            <th>产品说明</th>
            <th style="text-align:center">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($product in $!{pager.dataList})
            <tr>
                <td>$!{product.name}</td>
                <td>$!{product.owner}</td>
                <td>$!{product.description}</td>
                <td style="text-align:center">
                    <a class="btn btn-primary btn-xs" href="/monitor/manage/products/${product.id}">应用管理</a>
                    <button class="btn btn-default btn-xs" onclick="updateProduct(${product.id})">修改</button>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteProductConfirm"
                       onclick="deleteProduct(${product.id})">删除</a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li #if($pager.currentPage == 1) class="disabled" #end>
                <a #if($pager.currentPage == 1)href="javascript:void(0);"#else
                   href="/monitor/manage/products?currentPage=$math.sub(${pager.currentPage}, 1)" #end
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            #foreach($count in [1..${pager.pageCount}])
                <li><a href="/monitor/manage/products?currentPage=${count}">$count</a></li>
            #end
            <li #if($pager.currentPage == $pager.pageCount) class="disabled" #end>
                <a #if($pager.currentPage == $pager.pageCount)href="javascript:void(0);"#else
                   href="/monitor/manage/products?currentPage=$math.add(${pager.currentPage}, 1)" #end
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- 删除确认对话框 -->
<div class="modal fade" id="deleteProductConfirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">确认对话框</h4>
            </div>
            <div class="modal-body">您确定要删除该产品吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                <a id="deleteProductHref" href="#" class="btn btn-danger btn-xs">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加产品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addProductForm" method="post" action="/monitor/manage/products/add">
                    <div class="form-group">
                        <label for="productName" class="col-sm-3 control-label">产品名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="productName" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productOwner" class="col-sm-3 control-label">负责人：</label>
                        <div class="col-sm-8">
                            <select id="productOwner" class="form-control" name="owner">
                                #foreach($user in $!{users})
                                    <option value="（$!{user.name}）$!{user.username}">
                                        （$!{user.name}）$!{user.username}</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productDesc" class="col-sm-3 control-label">产品说明：</label>
                        <div class="col-sm-8">
                            <textarea rows="5" maxlength="150" class="form-control" id="productDesc"
                                      name="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="addProductSubmit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 更新产品信息 -->
<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateProductModalLabel">修改产品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="updateProductForm" method="post"
                      action="/monitor/manage/products/update">
                    <input type="hidden" name="id" value="" id="updateProductId"/>
                    <div class="form-group">
                        <label for="updateProductName" class="col-sm-3 control-label">产品名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="updateProductName" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateProductOwner" class="col-sm-3 control-label">负责人：</label>
                        <div class="col-sm-8">
                            <select id="updateProductOwner" class="form-control" name="owner">
                                #foreach($user in $!{users})
                                    <option value="（$!{user.name}）$!{user.username}">
                                        （$!{user.name}）$!{user.username}</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateProductDesc" class="col-sm-3 control-label">产品说明：</label>
                        <div class="col-sm-8">
                            <textarea rows="5" maxlength="150" class="form-control" id="updateProductDesc"
                                      name="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="updateProductSubmit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#addProductSubmit").click(function () {
            $("#addProductForm").submit();
        });


        $("#updateProductSubmit").click(function () {
            $("#updateProductForm").submit();
        });
    });

    function deleteProduct(id) {
        var href = "/monitor/manage/products/delete/" + id;
        $("#deleteProductHref").prop("href", href);
    }

    function updateProduct(id) {
        $.get("/monitor/manage/products/update/" + id, function (product) {
            $("#updateProductId").val(product.id)
            $("#updateProductName").val(product.name)
            $("#updateProductOwner").val(product.owner)
            $("#updateProductDesc").val(product.description)

            $("#updateProductModal").modal();
        })
    }
</script>