<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 基本共同服务配置 -->
    <context:annotation-config/>

    <context:component-scan base-package="monitor.view">
        <context:exclude-filter type="regex" expression="monitor\.view\.web\..*"/>
    </context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name="ignoreUnresolvablePlaceholders"  value="true" />
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
                <value>classpath:velocity.properties</value>
            </list>
        </property>
    </bean>
</beans>