<!-- 更新产品信息 -->
<div class="modal fade" id="updateApplicationModal" tabindex="-1" role="dialog" aria-labelledby="updateApplicationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateApplicationModalLabel">修改应用</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="updateApplicationForm" method="post"
                      action="/monitor/manage/applications/update">
                    <input type="hidden" name="id" value="" id="updateApplicationId"/>
                    <div class="form-group">
                        <label for="updateApplicationName" class="col-sm-3 control-label">应用名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="updateApplicationName" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateApplicationOwner" class="col-sm-3 control-label">所属产品：</label>
                        <div class="col-sm-8">
                            <select id="productOwner" class="form-control" name="productId">
                                #foreach($prod in $!{products})
                                    <option value="$!{prod.id}" #if($!{product.id} == $!{prod.id})
                                            selected="selected" #end>
                                        $!{prod.name}</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateApplicationDesc" class="col-sm-3 control-label">应用说明：</label>
                        <div class="col-sm-8">
                            <textarea rows="5" maxlength="150" class="form-control" id="updateApplicationDesc"
                                      name="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="updateApplicationSubmit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>