<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'classLoading'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ${fenLei}
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ${times}
        },
        yAxis: {
            type: 'value'
        },
        series: ${datas}
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>