<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ${categories}
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ${xAxisData}
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    return getFormater(value);
                }
            }
        },
        series: ${series}
    };

    function getFormater(value) {
        if (value >= 1073741824) {
            return (value / 1073741824).toFixed(2) + " GB";
        } else if (value >= 1048576) {
            return parseInt(value / 1048576) + " MB";
        } else if (value >= 1024) {
            return parseInt(value / 1024) + " KB";
        } else {
            return value + " Byte"
        }
    }

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>